* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

a {
  color: black;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  font-family: monospace;
}

li {
  list-style: none;
}

.navbar {
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 60px; /* Fixed height */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 55px;
  padding-right: 30px;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: #fafafa;
}

.name {
  font-family: monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.main_bio {
  color: black;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: none;
  line-height: 1.8;
  text-decoration: none;
  font-family: monospace;
  margin: 10px 225px;
}

.main-container {
  display: flex;
  margin: 50px 0;
}

.home,
.projects {
  padding: 2rem;
  margin-bottom: 2rem;
}

.bio {
  padding-top: 50px;
  text-align: center;
}

.bio img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.bio h1 {
  margin-bottom: 1rem;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  font: bold;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.li_clicked {
  color: black;
}

.li_normal {
  color: #b3b3b3;
}

/* Sidebar Styles */
.sidebar {
  position: fixed; /* Fixed sidebar */
  width: 20%; /* Width of the sidebar */
  height: calc(100vh - 60px); /* Full height minus navbar height */
  top: 120px; /* Position it below the navbar */
  padding: 40px;
  overflow-y: auto; /* Allow scrolling if content overflows */
  font-family: monospace;
}

.sidebar h2 {
  text-align: center;
}

.sidebar li {
  padding: 15px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  color: #b3b3b3;
}

.sidebar li:hover {
  color: rgb(0, 0, 0);
}

.sidebar li.active {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Content Styles */
.content {
  margin-left: 20%;
  margin-right: 5%;
  margin-top: 50px;
  display: flex;
  flex-direction: column; /* Stacks the items vertically */
  justify-content: center; /* Aligns items vertically */
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.project-title {
  font-family: monospace;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  font-family: monospace;
  font-size: 18px;
}

.project-description img {
  width: auto; /* Adjust width */
  height: 400px; /* Fixed height */
  margin: 15px 0;
}

.project-description video {
  max-width: 50%;
  height: auto;
  margin: 15px 0;
}
